body {
  font-family: "Roboto";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #161C2D;
  background: #F8F9FC;
}

a {
  color: rgba(114, 124, 245, 1);
  text-decoration: none;
}

.logo-title {
  font-size: 2rem;
  font-weight: 300;
  color: #161C2D;
  cursor: pointer;
}

.white-box {
  padding: 1.5rem;
  box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, .15);
  background: #FFFFFF;
  border-radius: .25rem;
}

/* --- Table ---------------------------------------------------------- */

thead th {
  color: #313A46 !important;
  background-color: #EEF2F7 !important;
  border-color: rgb(219.1, 223.6, 229.3);
}

tfoot td {
  border-bottom: none;
}

.table>:not(caption)>*>* {
  padding: .85rem;
  color: #6C757D;
  border-bottom-color: rgb(222, 226, 230);
  font-size: 14px;
}

/* --- Tooltip -------------------------------------------------------- */

.tooltip {
  opacity: 1 !important;
}

.tooltip-inner {
  background-color: #6C757D;
  color: #FAFBFE;
  border-radius: .25rem;
  font-size: 12px;
}

.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before,
.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #6C757D;
}

/* --- Other ---------------------------------------------------------- */

.svg-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url('../assets/images/sale-icon.svg') no-repeat center;
  background-size: contain;
  filter: invert(42%) sepia(98%) saturate(2124%) hue-rotate(355deg) brightness(102%) contrast(101%);
  margin: -1px 0 0 7px;
}

.usd-price {
  cursor: help;
  border-bottom: 1px dotted #6C757D;
}